{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div>
        <h4 class="fw-bold mb-3">Anime Reccomendation</h4>
        <form action="/" method="get" style="max-width: 600px;" class="d-flex align-items-center">
            <div class="input-group mb-3">
                <input type="text" name="title" class="form-control" placeholder="Anime title..." aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{anime_name}}">
                <input type="hidden" name="start" value="{{0}}">
                <button type="submit" class="input-group-text btn btn-light border" id="basic-addon2">Search Reccomendation</button>
            </div>
        </form>
    </div>
    <hr>
    {% if reccomendations %}
    <a href="http://127.0.0.1:5000/?title={{anime_name}}&start={{prev}}"><<< Prev || </a>
    <a href="http://127.0.0.1:5000/?title={{anime_name}}&start={{next}}">Next >>></a>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        {% for reccomendation in reccomendations %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body bg-light">
                    <h5 class="card-title
                    fw-bold">{{ reccomendation.name }}</h5>
                    <p class="card-text">{{ reccomendation.type }} || {{ reccomendation.genre }}</p>
                    <p class="card-text">{{ reccomendation.episodes }} episodes</p>
                    <p class="card-text">{{ reccomendation.rating }} ⭐</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        No reccomendations found. Try searching for another anime.
    </div>
    {% endif %}
</div>
{% endblock %}